
.dog-container{
    display: flex;
    flex-direction: column;
}
.dog-pic{
    width: 350px;
    height: 300px;
}
.getDoggo{
    padding: 22px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0,auto;
    font-weight: 700;
    font-size: 12pt;
    border: 1px solid #00000050;
}