.users{
    padding: 0 20px;
    max-width: 100vw;
    width: 800px;
    display:flex;
    flex-wrap: wrap;
}
.User{
    padding: 6px 20px;
    border: 1px solid var(--light-font-color);
    display: flex;
    width: 380px;
    flex-wrap: wrap;
}
#dark .User{
    border: 1px solid var(--dark-font-color);
    color: var(--dark-font-color);
    background-color: var(--dark-login-color);
}
.info{
    padding: 5px 10px;
}
.img-usr{
    width: 72px;
}
.img-usr img{
    border-radius: 40px;
    border: 2px solid ;
}
.nome-usr{
    font-weight: 600;
}
.users-topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}
.src-user{
    padding: 10px;
}

