:root{
    --light-bg-color: #f3f6fd;
    --dark-bg-color: #111827;

    --dark-font-color: #fff;
    --light-font-color: #000;

    --dark-login-color:#1f2937;
    
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    width: 100vw;
    height: 100vh;
}
.app-container{
    display: flex;
    flex-direction: column;
    background: var(--light-bg-color);
    align-items: center;
}
#dark .app-container{
    background: var(--dark-bg-color);
}
#light {
    background: var(--light-bg-color);
}
#dark {
    background:  var(--dark-bg-color)
}
button{
    border: 0;
}

.switch-mode{
    position: absolute;
    top: 26px;
    left: 290px;
    z-index: 3;
    cursor: pointer;
    background-color: transparent;
    
}
#dark .switch-mode svg{
    fill: var(--dark-font-color);
}
h1{
    text-align: center;
    padding: 10px 0px;
}
#dark h1{
    color: var(--dark-font-color);
    width: 100%;
}
